[Install]
WantedBy=multi-user.target

[Unit]
Description=Google Cloud App Engine SQL Proxy
Requires=networking.service
After=networking.service

[Service]
Type=simple
WorkingDirectory=/run/cloudsql
ExecStart=/usr/local/bin/cloud_sql_proxy -dir=/run/cloudsql -instances=masteroppgave-177911:europe-west1:luftprosjekt
Restart=always
StandardOutput=journal
User=root