<div id="new-item-form" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Last opp fil</h4>
    </div>

    <div class="container-fluid">
      <%= form_for file, :url => {:controller => "datafiles", :action => "create"},:html => { :multipart => true } do |f| %>
        <p> 
          <%= f.file_field :file, required: true, accept: '.csv'%> 
        </p> 
      <div class="modal-footer">
        <%= f.submit 'Last opp', class: 'btn btn-primary' %>
      <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
      </div>
    </div>
    </div>
  </div>
</div>