<div class="span7 text-center">
  <div class="btn-group">
    <%= link_to "Last opp din CSV fil her", "#new-item-form", :class => "btn-lg btn-primary", "data-toggle" => "modal" %>
  </div>
  <%= render partial: "upload_file_form", locals: { file: Datafile.new} %>
</div>
